name

on:
  push:
    paths:
    - 'release/*'
  
jobs:
  # Linting
  validate:
    name: Code Validation

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/node
    - run: npm run lint:ci
    - run: npm run test:ci

  # Build and publish
  build:
    name: Code Build

    needs: validate
    runs-on: ubuntu-latest

    steps:
    - uses: actions/node
    - run: npm run build
  
  publish-npm:
    name: Publish NPM
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}

  publish-gpr:
    name: Publish GPR

    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
          scope: '@phoenix1355'
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}